

/*------------------------------------------>>>Контенеры, фоны------------НАЧАЛО */


/*---------------------------------------Логотип и меню навигации ---Начало---*/


body {
	background-color: #ede9e0;
}



.container {
	width: 1024px;
	margin: 0 auto;
	font-size: 0;
}

ul li.nav_menu {
	display: inline-block;
	list-style: none;
}

ul li a.nav_link {
	text-decoration: none;
	padding: 5px 8px;
	color: #000;
}

nav.navigation {
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	padding: 13px 25px 0px 173px;
}

a.phone {
	display: inline-block;
	list-style: none;
	/*padding: 11px 8px 11px 4px;*/
	text-decoration: none;
	color: #510fad;
}

.logo_dog {
	float: left;
	margin: 10px auto;*/
	padding: 10px 10px 10px 10px;
}
.logo-menu{
	width: 940px;
	margin: 0 auto; 
}

/*---------------------------------------Логотип и меню навигации ---Конец---*/

.promo_foto {
	background-image: url(../img/dog.png);
	width: 100px;
  	height: 100px;
 	 margin: 10px;
  	display: inline-block;
}

.promo{
	width: 940px;
	margin: 0 auto; 
}

/*---------------------------------------H1 and p Питомник ---Началоа---*/

h1 {
	padding-left: 320px;
	font-family: 'Fira Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	padding-top: 64px;
	line-height: 60px;
}

.promo_slogan {
	padding-left: 320px;
}


/*---------------------------------------H1 and p Питомник ---Конец---*/


/* --------------------О ПИТОМНИКЕ --------------------НАЧАЛО---------*/

.about_pets{
	padding-top: 250px;
}

.ridge:before{
	content: ""; 
	background-image: url(..//img/layer1.png);
	background-repeat: no-repeat;
	background-position: top;
}

.ridge:after {
	content: "";
	background-image: url(..//img/layer2.png);
	background-repeat: no-repeat;
	background-position: top;
}

.container_shape {
	width: 1024px;
	background-color: #510fad;
	text-align: center;
	margin: 0 auto;
}

.container_wrapper {
	width: 940px;
	margin: 0 auto;
}

.about_row {
	font-size: 0;
	/*margin-top: 17px;*/
}

.about_wrapper {
	font-size: 0;
	width: 800px;
}

.shape_and_slogan {
	width: 350px;
	display: inline-block;
	text-align: left;
	padding-left: 55px;
    padding-top: 2px;
}

h2 {
	color: white;
}

.promo_img {
	float: left;
	width: 470px;
	padding-top: 11px;
    margin-left: -68px;
}

.text_video {
	float: right;
	text-align: left;
}

.advantages_text {
	padding: 2px 0px 5px 5px;
}

.advantages{
	padding: 62px 90px;
}

.video_walk {
	padding-left: 72px;
    float: left;
    margin-top: -22px;
    text-decoration: none;
}

.promo_img_dog {
	/*margin: 0;
	padding: 0;*/
	display: line;
}

.yellow-icon {
	background: url(../img/css_sprites.png) no-repeat 0 0;
	width: 39px;
	height: 37px;
	display: inline-block;
	vertical-align: top;
}

.yellow-arrow {
	background-position: -145px -94px;
}

/*
.name_shape, .about_pets_slogan, .advantages, .promo_img_dog, .video_walk{
	display: block;
  	
}

.promo_img_dog{
	/*margin: 25px 0 0-20px;*/


}


.advantages{
	padding: 62px 90px;
}

/*.video_walk{
	/*margin: 0px -240px 0px 0px;*/



/*.advantages_text{
	padding: 5px 5px 5px 5px;
}

.shape_and_slogan{
	text-align: left;
	/*padding: 200px 5px 0px 400px;*/

}
.name_shape {
	color: white;
}

/* --------------------О ПИТОМНИКЕ --------------------Конец----------------------*/

/* --------------------НАШИ ПОРОДЫ (section class="our_breeds")-НАЧАЛО--------------*/

.our_breeds{
	padding-top: 268px;
}

.breeds{
	width: 940px;
	margin: 0 auto; 
}

.breeds_heading {
	padding-left: 320px;
	margin-bottom: 87px;
	color: black;
}
.container_card_one {
	width: 50%;
	float: left;
	/*margin-top: 49px;*/
}
.container_card_two {
	width: 50%;
	float: left;
	/*margin-top: 49px;*/
}
.dogs_img {
	border-radius: 70px;
	float: left;
	margin-top: -4px;
}
.veiv_dog_text {
	display: inline-block;
	padding-left: 19px;
    margin: 0;
    margin-top: -3px;
}
.view_dog {
	/*padding: 5px 5px 5px 45px;*/
}
.view_dog1 {
	float: left;
}
.view_dog2 {
	float: right;
}

.one-card{
	margin-top: -12px;
    display: inline-block;
}

.two-card{
	margin-top: 55px;
   	display: inline-block;
}

.three-card{
	margin-top: -12px;
    display: inline-block;
    padding-left: 11px;
}

.four-card{
	margin-top: 55px;
    display: inline-block;
    padding-left: 11px;
}


.icon {
	background: url(../img/css_sprites.png) no-repeat 0 0;
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: top;
}
.blue-arrow {
	background-position: -107px -47px;
	margin-left: 19px;
}
.look_dogs {
	padding-left: 20px;
	display: inline-block;
	text-decoration: none;
}

.alignment-1{
	padding-top: 28px;
}

.alignment-2{
	margin-top: -12px;
	float: left;
}

/* --------------------НАШИ ПОРОДЫ (section class="our_breeds")-КОНЕЦ--------------*/

/* --------------------ОЗЫВЫ (section class="our_breeds")-НАЧАЛО--------------*/

.reviews{
	padding-top: 112px;
}

.row_reviews {
	margin: 0 auto;
	width: 940px;
}
.reviews_title {
	/*margin-left: 75px;
	padding-top: 145px;*/
	text-align: center;
	color: black;
	margin-left: -16px;
}
.reviews_text {
	display: block;
	width: 50%;
	float: left;
	/*padding-left: 15px;
	padding-right: 15px;*/
}
.images_photo {
	display: block;
	height: 280px;
	width: 46%;
	float: left;
	padding-top: 50px;
	padding-left: 9px;

}
.comment_text {
	margin: 0;
	padding-top: 11px;
}
.images_img {
	border-radius: 10px;
	box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.4);
}
.quotes {
	background: url(../img/css_sprites.png) no-repeat 0 0;
	width: 84px;
	height: 66px;
	display: inline-block;
	vertical-align: top;
}
.white_quotes {
	background-position: -9px -10px;
	display: block;
	/*padding: 0px 0px 13px;*/
}

.user{
	margin-top: 7px;
    display: inline-block;
}

.link-vk{
	text-decoration: none;
	color: #510fad;
}


/* --------------------ОЗЫВЫ (section class="our_breeds")-КОНЕЦ--------------*/

/* --------ВСЕ О ЖИВОТНЫХ (about_animals_container)-НАЧАЛО-------------------*/

.about_animals{
	padding-top: 249px;
}


.animals-row {
	width: 940px;
	padding:118px 0px;
	
	/* Повторяем фон по горизонтали */
	margin: 0 auto;
}

.bg_pattern{
	height: 500px;
	/*padding-top: 100px;
	padding-bottom: 100px;*/
	background-image: url(../img/onee.jpg);
	/* Путь к фоновому рисунку */
	background-position: left bottom;
	/* Положение фона */
	background-repeat: repeat;
}

.about_animals_container {
	display: block;
	height: 222px;
	width: 422px;
	float: left;
	/*padding-left: 15px;
	padding-right: 15px;*/
}
.about_animals_photo {
	display: block;
	height: 280px;
	width: 50%;
	float: left;
	padding-left: 48px;

	
}
.about_animals_photo1 {
	float: left;
	background-color: #fff;
	margin-left: 10px;
	border-radius: 10px;
  	box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.4);
  
}

.about_animals_photo2 {
	float: right;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.4);
  	
}

.about_animals-img1{
	border-radius: 9px 9px 0px 0px;
}

.about_animals-img2{
	border-radius: 9px 9px 0px 0px;
}


.about_animals_text{
	padding-left: 4px;
}

.read_article {
	margin-left: 12px;
    margin-top: 8px;
    display: inline-block;
    padding-bottom: 12px;
}
.about_animals_text1{
	padding-left: 11px;
    margin: 0;
    padding-top: 10px;
}

.icon-socials{
	background: url(../img/css_sprites.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: top;
}
.icon-vk{
	background-position: -102px -95px;;
	margin-left: 10px;
}

.icon-fb{
	background-position: -111px -10px;
	margin-left: 10px;
}

.icon-inst{
	background-position: -10px -95px;
	margin-left: 10px;
}

.socials{
	padding-top: 31px;
    margin-left: -9px;
}

.about_blue-arrow {
    background-position: -107px -47px;
    margin-left: 8px;
}




.row:after,
.row_reviews:after {
	content: "";
	clear: both;
	display: table;
}



/* --------ВСЕ О ЖИВОТНЫХ (about_animals_container)-КОНЕЦ--------------------*/



/* --------КОНТАКТЫ (contacts)---------------------НАЧАЛО--------------------*/


.contacts{
	width: 940px;
	margin: 0 auto; 
	padding-top: 56px;
}

.contacts_title_wrapper{
	margin-left: -39px;
}

.contacts_title{
	color: #202020;
}

.one{
	float: left;
	width: 50%;
    margin-left: -39px;
    padding-top: 8px;
}

.two{
	float: left;
	width: 50%;
	padding-left: 6px;
    padding-top: 7px;
}

.two a{
	text-decoration: none;
}

.contact_list{
	display: block;
}

.contacts_time{
	padding-top: 18px;
}

.contacts_phone{
	padding-top: 18px;
}


/* --------КОНТАКТЫ (contacts)---------------------КОНЕЦ----------------------*/




/* --------ПОДВАЛ (footer)---------------------НАЧАЛО-------------------------*/

.page_footer{
	padding-top: 130px;
}

.container_footer{
	width: 1024px;
	margin: 0 auto;

}

.footer_wrapper {
	width: 940px;
	margin: 0 auto;
}

ul.nav_menu2{
	margin: 0;
	padding: 6px 0px 83px 3px;
}

ul.nav_menu2 li{
	display: inline;
	margin-right: 23px;
}

ul.nav_menu2 a{
	text-decoration: none;

}

.navagation_footer{
	float: left;
	padding-top: 6px;
}

.socials_footer{
	float: right;
	padding-top: 12px;
    margin-right: -3px;
}

.icon-footer{
	background: url(../img/css_sprites.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: top;
}
.icon-vk-footer{
	background-position: -157px -56px;
	margin-left: 10px;
}

.icon-fb-footer{
	background-position: -157px -10px;
	margin-left: 10px;
}

.icon-inst-footer{
	background-position: -56px -95px;
	margin-left: 10px;
}

hr{
	border: none;
	background-color: #737274;
	height: 1px;
	margin-top: -16px;
    
}

/* --------ПОДВАЛ (footer)---------------------КОНЕЦ--------------------------*/

/*------------------------------------------>>>Контенеры, фоны--------------КОНЕЦ */

/*Текс, размеры, цвет----------------------------------->>>>>>Текст, размеры, цвет*/

h2 {
	font-family: 'Fira Sans',
	sans-serif;
	font-style:normal;
	font-weight: 500;
	font-size: 36px;
	letter-spacing:0.05em;
	line-height: 20px;
}
.reviews_title,
.contacts_title {
	line-height: 30px;
}
h3,
.user {
	font-family: 'Fira Sans',
	sans-serif;
	font-style:normal;
	font-weight: 500;
	font-size: 24px;
	letter-spacing:0.05em;
	line-height: 20px;
	padding-top: 3px;
}
.user {
	line-height: 30px;
}
.promo_slogan {
	font-family: 'Roboto',
	sans-serif;
	font-style:normal;
	font-weight: 500;
	font-size: 14px;
	letter-spacing:0.05em;
	line-height: 20px;
	color: #737274;
}
p,
.advantages,
.nav_menu1,
.phone,
.reviews_time,
.reviews_comment,
.contact_list,
.nav_menu2 {
	font-family: 'Roboto',
	sans-serif;
	font-style:normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #737274;
}
.nav_link_footer {
	color: #737274;
}
.contact_list {
	color: #202020;
}
.reviews_comment {
	color: #202020
}
.group_vk {
	font-style:italic;
	letter-spacing: 0.05em;
	padding-top: 8px;
    padding-left: 5px;

}

.reviews_time {
	font-style:italic;
	letter-spacing:0.05em;
	display: block;
}
.about_animals_text {
	color: #b8adc8;
}
.about_animals_text1 {
	color: #202020;
	letter-spacing: 0.05em;
}
a.look_dogs,
.read_article,
.contact_name {
	font-family: 'Fira Sans',
	sans-serif;
	font-style:normal;
	font-weight: 500;
	font-size: 14px;
	letter-spacing:0.05em;
	line-height: 30px;
	color: #510fad;
}
.contact_name {
	color: #737274;
}
.advantages {
	color: #ffffff;
}
.about_pets_slogan {
	color: #b8adc8;
	padding: 2px 1px;
}
.video_walk {
	font-family: 'Fira Sans',
	sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	letter-spacing:0.05em;
	color: #ffec00;
}

/*
font-family: 'Fira Sans', sfrff;
font-family: 'Roboto', sans-serif;
font-family: 'Fira Sans', sans-serif, uppercase;
*/
@font-face {
	font-family: "Fira Sans";
	src:url("..//fonts/Fira_Sans/FiraSans-Medium.ttf");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Roboto";
	src:url("..//fonts/Roboto/Roboto-Regular.ttf");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src:url("..//fonts/Roboto/Roboto-Italic.ttf");
	font-style: italic;
	font-weight: 400;
}

